# Python
venv/
.venv/
__pycache__/
*.py[cod]

# Django/local env
.env
.env.*
*.log

# Node/frontend
node_modules/
dist/
dist-ssr/
*.local

# Tooling/editor
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
